@import './base.css';

#app {
  max-width: none;   /* on enlève la limite de 1280px */
  margin: 0;         /* pas de centrage horizontal */
  padding: 0;        /* padding géré par main */
  display: block;    /* pas de grid divisé */
}

/* Media query desktop */
@media (min-width: 1024px) {
  body {
    display: block;  /* pas de flex centré */
  }

  #app {
    display: block;  /* plus de grid en 2 colonnes */
  }
}
