@import './base.css';

#app {
  max-width: none;
  margin: 0;
  padding: 0;
  display: block;
}
/* Media query desktop */
@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
  }
}
